# Mobile Tools for Java (J2ME)
.mtj.tmp/

# IntelliJ Files #
*.iml
.idea
.classpath
.project
.DS_Store

# Package Files #
target/
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
